.thanksCard{
    width: 40%;
    max-width: 400px;
    min-width: 300px;
    min-height: 40vh;
    display:flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
    background:var(--darkBlue);
    border-radius: 10px;
    padding: 2rem;  
}
.figurePhone{
    width: 50%;
    min-width: 200px;
    align-self: center;
    margin-bottom:1.5rem;
}
.figurePhone img{
    width: 100%;
}
.infoSelection{
    width: 50%;
    min-width: 170px;
    text-align: center;
    font-weight: 400;
    padding:.5rem .25rem;
    border-radius:10px;
    color:var(--orange);
    background:hsl(213, 8%, 26%);
    margin-bottom: 2.5rem;
}
.thanks{
    font-size: 2rem;
    color:var(--white);
    margin-bottom: 1rem;

}
.infoSupport{
    text-align: center;
    color:var(--lightGrey);
    width: 90%;
}
@media screen and (max-width:750px){ 

    .thanksCard{
        width: 100%;
        max-width: 90%;
        min-width: auto;
        padding: 1.5rem;  
    }
    .ratings{
        flex-wrap: wrap;
    }
    .choice{     
        min-width:40px;
        max-width:40px;
        min-height:40px;
    
    }
    }