
.header{
    width: 100%;
    min-height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.headerContainer{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}
.logoNav{
    min-width: 100px;
    min-height: 40px;
    display: flex;
    align-items: flex-end;
}
.logoNav img{
    width: 100%;
}
.firstPartNav{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav{
    display: flex;
    align-items: center;
    color:var(--mediumGray);
}
.menuIcon{
    display: none;
}
.bar{
    display: flex;
    gap: 2rem;

}
.childBar{
    font-size: 1.25rem;
    position: relative
}
.titleBar{
    display: flex;
    align-items: center;
    gap: .25rem;
    cursor: pointer;
    
}
.titleBar figure{
    width: 12.5px;
    height: 12.5px;
    display:flex;align-items: center;
}
.titleBar figure img{
    width: 100%;
}
.childBar p{
    font-weight: 800;
}

.childBar p:hover{color:var(--almostBlack); cursor: pointer;}
.submenu{
   
    position: absolute;
    transition: all 200ms ease-in-out;
    margin-top: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: .75rem;
    border-radius: 10px;
}
.childBar .invisible{
  transform: scale(0);
}
.childBar .invisibleFeature{
    min-width: 150px;
    right: 0;
}
.childBar .visible{
    transform: scale(1);
}
.childBar .visibleFeature{
    min-width: 150px;
    right: 0;
}
.childBar .visibleCompany{
  left: 0;
}
.submenu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.submenu li{
    display:flex;
    align-items:center;
    gap: .25rem;
    font-size: .9rem;
    cursor: pointer;
    color:var(--mediumGray);
}
.submenu li:hover{
    color:var(--almostBlack);
}
.loginContainer{
    display:flex;
    width: auto;  
    gap: 1rem;
}
.loginContainer button{
    background:none;
    outline: none;
    border: none;
    font-size: .9rem;
    color:var(--mediumGray);
    min-width: 60px;
    cursor: pointer;
    font-weight: 800;
}
.loginContainer button:hover{
    color:var(--almostBlack);
    border-color: var(--almostBlack);
}
.loginContainer .register{
    border:2px solid var(--mediumGray);
    padding: .5rem .75rem;
    border-radius: 12.5px;
    
}

@media screen and (max-width:900px){

.menuIcon{
    display: block;
}
.firstPartNav{
    width: 100%;
    justify-content: space-between;
} 
.menuIcon{
    display: block;
    z-index: 100;
}
.bar{
    width: 60%;
    height:100%;
    padding: 5rem 0 0 2.5rem;
    height:100%;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0%;
    background:var(--almostWhite);
    transform:scale(0);
    transition: transform 200ms linear;
}
.menuVisible{
    transform:scale(1);
}
.submenu{
    position: relative;
}
.childBar .invisible{
    opacity: 0;
    transform:scale(0);
    position: absolute;
    
}
.childBar .invisibleFeature{
    min-width: auto;

}
.childBar .visible{
    transform:scale(1);
}
.childBar .visibleFeature{
    min-width: auto; 
}
.loginContainer{display:none;}
}