.destinationContainer{
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.firstPartDestination{
    width:60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh; 
}
.firstPartDestination h3{
    font-family: var(--fontNavHeader);
    font-size: 2rem;
    align-self: start;
    padding-left: 10%;
    color:var(--White);
}
.firstPartDestination h3 span{
    color:var(--lightGray);
    margin-right: 1rem;
}
.firstPartDestination figure{
    width: 40vw;
    max-width: 500px;
    min-width: 200px;
}
.firstPartDestination figure img{
    width: 100%;
}
.secondPartDestination{
    width:60%;
    min-height: 65vh;
    display:flex;
    flex-direction: column;
    justify-content: center;  
    padding-top: 5%;
    padding-left: 5%;
    color:var(--lightGray);
}
.secondPartDestination .barDestination{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: var(--fontNavHeader);
    font-size: 1.25rem;
    list-style: none;
}
.secondPartDestination .barDestination li{
    width: 100%;
    cursor: pointer;
    max-width: 50px;
    text-align: center;
    padding-bottom: .5rem;
    border-bottom: 3px solid transparent;
    transition: border 150ms linear;
}
.secondPartDestination .barDestination li:hover{
    border-bottom-color: rgba(255, 255, 255, 0.5);
}
.secondPartDestination  h2{
    font-size:9rem;
    font-family: var(--fontInfo);
    color:var(--White);
    margin-top: 1rem;
    text-transform: uppercase;
}
.secondPartDestination .info{
    width: 100%;
    min-height: 10vh;
    max-width:450px;
    min-width: 200px;
    font-family: var(--fontTextBody);
    color:var(--lightGray);
    margin-top: 1rem;
}
.infoDestination{
    width: 100%;
    max-width:450px;
    min-width: 200px;
    margin-top: 6rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--lightGrayishBlue);
    padding-top: 2rem;
}
.infoDestination .secondaryInfo{
    display:flex;
    flex-direction: column; 
    gap: .25rem;
}

.infoDestination .secondaryInfo p{
    color:var(--lightGrayishBlue);
    font-family: var(--fontNavHeader);
    text-transform: uppercase;
}
.infoDestination .secondaryInfo h3{
    font-family: var(--fontInfo);
    text-transform: uppercase;
    color:var(--White);
}
.infoDestination .travelTime{
    padding-right: 10%;
}
.secondPartDestination .barDestination .activeMoon{
    border-bottom:3px solid var(--White);
}
.secondPartDestination .barDestination .activeMars{
    border-bottom:3px solid var(--White);
}
.secondPartDestination .barDestination .activeEuropa{
    border-bottom:3px solid var(--White);
}
.secondPartDestination .barDestination .activeTitan{
    border-bottom:3px solid var(--White);
}
@media screen and (max-width: 900px){
    .destinationContainer{
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
    .firstPartDestination{
        width: 100%;
    }
    .firstPartDestination h3{
        padding-left: 10%;
    }
    .secondPartDestination{
        width: 100%;
        padding:0;
        align-items: center;
    }
    .secondPartDestination .info{
        text-align: center;
    }
    .secondPartDestination .barDestination{
        width: 30%;
        min-width: 250px;
        gap:1rem;
    }
    .infoDestination{
        margin-top:4rem;
    }
    .infoDestination .travelTime{
        padding:0;
    }
}
@media screen and (max-width:500px){
    .secondPartDestination{
        width: 90%;
    }
    .secondPartDestination h2{
        font-size: 5rem;
    }
    .infoDestination{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
}