
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{

    /*Colors*/


    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --font:'Manrope', sans-serif;
}

*,
*:after,
*:before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-size: 13px;
}


body{
  width: 100vw;
  min-height: 100vh;
  background-color:var(--Light-Grayish-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font);
}

/*main Card*/
.main{
  width: 300px;


  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*First Part Card*/
/*Header Card*/
.main .card-header{
  width: 100%;
  height: 25vh;

  position: relative;
}
.main .card-header img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;  
}
/*Second Part Card*/

.second-part-card{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  position: relative;
}
/*Body Card*/
.second-part-card .card-body{

  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 10%;
  padding-bottom: 8%;

}
.second-part-card .card-body h1{

  color: var(--Very-Dark-Grayish-Blue);
  font-size:1.2rem ;
}
.second-part-card .card-body p{
  width: 100%;
  font-size: 0.94rem;
  color: var(--Desaturated-Dark-Blue);
}

/*Card Info*/
.second-part-card .card-info{
  min-height: 10vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;


}
.second-part-card .card-info .personal-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.second-part-card .card-info .avatar,.iconShare{

  width: 40px;
  border-radius:50%;
}
.second-part-card .card-info .iconShare{

  width: 15px;
}
.second-part-card .card-info .personal-info .info-group h2{
      color: var(--Very-Dark-Grayish-Blue);
}
.second-part-card .card-info .personal-info .info-group p{
      color: var(--Desaturated-Dark-Blue);
  }

  .second-part-card .card-info .box-share{
    background-color:var(--Light-Grayish-Blue);
    width:30px;
    display:grid;
    place-content: center;
    height: 30px;
    border-radius:50%;
    cursor: pointer;
  }









.second-part-card .social-media-card{ 
  width: 100%;
  min-height: 8vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color:var(--Very-Dark-Grayish-Blue);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius:10px;
  position: relative;
}
.second-part-card .social-media-card .media-card{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.second-part-card .social-media-card .media-card .share-group{
  display: flex;
  gap: 2vh;
  color: var(--Grayish-Blue);
  text-transform: uppercase;

}
.second-part-card .social-media-card .media-card .share-group h2{
  font-size: 1.1rem;
  letter-spacing: 0.5vh;
}

.second-part-card .social-media-card .media-card .share-group .icons{
  display:flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.second-part-card .social-media-card .media-card .box-share{
    background-color:var(--Grayish-Blue);
    width:30px;
    display:grid;
    place-content: center;
    height: 30px;
    border-radius:50%;
    cursor: pointer;
}
.second-part-card .social-media-card .media-card .box-share img{
   width: 15px;

}

.second-part-card .visible{
    display:flex;
}
.second-part-card .remove{
    display:none;
}
.second-part-card .remove1{
  display:none;
}


@media screen and (min-width:1440px) {
  .main{
    width: 800px;

    min-height:32vh;
    height: 32vh;
    display: flex;
    padding: 0;
    border-radius: 10px;

  }

  .main .card-header {

    min-width: 40%;
    width: 40%;
    min-height:100%;

  }
  
  .main .card-header img{
    min-width: 100%;
    height: 100%;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
  }
  .main .second-part-card .card-body  {
    padding-top: 3%;
    padding-bottom: 2%;
    gap: 2vh;
  }
  .main .second-part-card .card-body h1 {
    font-size: 1.5rem;
  }

  .second-part-card .remove1{
    display:flex;
  }



  .second-part-card .social-media-card .media-card .box-share{
      display: none;
  }
  
  .second-part-card{
    position: relative;
  } 
  
  
  .second-part-card .social-media-card{

    width: 45%;
    min-height:auto;
    padding: 1.5vh 0;
    border-radius: 10px ;
    position: absolute;
    bottom: 28%;
    right: -9.5%;
    
  }
    
  .second-part-card .social-media-card:before{
    content:'';

    position: absolute;
    width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid var(--Very-Dark-Grayish-Blue);
  bottom:-15%;
  }

  .second-part-card .social-media-card .media-card{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;



  }



}

