.infoStats{
    min-width: 150px;
    display: flex;
    flex-direction: column;
}
.infoStats figure{
    display: flex;
    align-items: center;   
}
.infoStats figure img{
    width: 35px;
    height: 30px;
}
.infoStats h2{
    margin-top: .5rem;
    font-size: 3rem;
    color:var(--veryDarkCyan);
}
.infoStats p{
    font-size: 1rem;
    opacity: .8;
    color:var(--veryDarkCyan);
}
