
header{
    width: 100%;
    min-height: 10vh;

    background:var(--gray);
   display:flex;
   align-items: center;
   justify-content: center;
}
.headerContainer{
    width: 90%;
    height: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: 2rem;
}
.headerContainer h1{
    font-size: 2rem;
    color:var(--white);
}
.headerContainer nav{
    width: 50%;
    height: 100%;
    max-width: 500px;
    min-width: 500px;
    display: flex;
    align-items:center;
    justify-content:flex-end;
}
.headerContainer nav ul{
    display:flex;
    width: 100%;
    justify-content:space-between;
    list-style: none;
}
.headerContainer nav ul li a{
    color:var(--white);
    text-decoration: none;
    font-size: 1.1rem;
 }
@media screen and (max-width:550px){
    .headerContainer{
        flex-direction: column;
        
    }
    .headerContainer nav{
        min-width: auto;
        width:100%;
        justify-content:center;
     
    }
    .headerContainer nav ul{
      justify-content:space-between;
      gap: 1rem;
    }
}