@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark_desaturated-blue: hsl(244, 38%, 16%);
  --Soft-Violet: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);

  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

  --font: "Inter", sans-serif;
  --font-2: "Lexend Deca", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--Very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 300px;

  min-height: 50vh;
  background: var(--Dark_desaturated-blue);
  position: relative;
  border-radius: 10px;
}
.card .card-header-img {
  width: 100%;

  height: 20vh;

  background: var(--Soft-Violet);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card .card-header-img img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}
.card .card-body {
  width: 100%;

  display: flex;
  flex-direction: column;
  font-family: var(--font-2);
  text-align: center;
  padding-top: 3vh;
  gap: 2vh;
  align-items: center;
  justify-content: initial;
}
.card .card-body .text-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}
.card .card-body .text-body h1 {
  width: 90%;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--white);
}
.card .card-body .text-body h1 span {
  color: var(--Soft-Violet);
}
.card .card-body .text-body .text {
  font-family: var(--font-2);
  color: var(--Slightly-transparent-white);
  font-size: 0.9rem;
  width: 80%;
  font-weight: 400;
}
.card .card-footer {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-self: flex-end;
  font-family: var(--font);
  font-weight: 400;
  margin-top: 2vh;
  padding-bottom: 2vh;
}

.card .card-footer h2 {
  color: var(--white);
}

.card .card-footer p {
  color: var(--Slightly-transparent-white);
}
@media screen and (min-width:1440px){
    body {
        width: 100%;
        min-height: 100vh;
        background-color: var(--Very-dark-blue);
        display: flex;
  
        justify-content: center;
        align-items: center;
      }
      .card {

        width: 80vw;
        display: flex;
        flex-direction: row-reverse;
        min-height: 45vh;   
        height: 50vh;
     
      }
      .card .card-header-img {
        width: 90%;
      
        min-height: 100%;
      
        background: var(--Soft-Violet);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .card .card-header-img img {
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
      }
      .card .card-body {
        width: 100%;    
      
        display: flex;
        flex-direction: column;
        font-family: var(--font-2);
      
        padding-top: 3vh;
        gap: 2vh;
        align-items: flex-start;
        justify-content: space-around;
      }
      .card .card-body .text-body {
          width: 100%;
         
        display: flex;
        flex-direction: column;
        
        text-align: left;
        gap: 2.5vh;
      }
      .card .card-body .text-body h1 {
        width: 70%;
        align-self: start;
        margin-left: 10%;
        font-weight: 700;
        font-size: 2.5rem;
        color: var(--white);
     
      }
      .card .card-body .text-body h1 span {
        color: var(--Soft-Violet);
      }
      .card .card-body .text-body .text {
        font-family: var(--font-2);
        color: var(--Slightly-transparent-white);
        font-size: 1.1rem;
        width: 65%;
        align-self: flex-start;
        margin-left: 10%;
       
        font-weight: 400;
      }
      .card .card-footer {
          width: 80%;
        display: flex;
        flex-direction: row;
        gap: 5vh;
        align-self: center;
        font-family: var(--font);
        font-weight: 400;
        margin-top: 0;
        
        padding-bottom: 2vh;
      }
      
      .card .card-footer h2 {
        color: var(--white);
        font-size: 2rem;
        font-weight: 700;
        text-align: left;
      }
      
      .card .card-footer p {
          font-size: 1.5rem;
          text-align: left;
          font-variant: small-caps;
        color: var(--Slightly-transparent-white);
      }
      
}