@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
:root
{
    /*Primary*/
    --blue:hsl(223, 87%, 63%);
    /*Secondary*/
    --paleBlue:hsl(223, 100%, 88%);
    --lightRed:hsl(354, 100%, 66%);
    /*Neutral*/
    --gray:hsl(0, 0%, 59%);
    --veryDarkBlue:hsl(209, 33%, 12%);
    /*Font*/
    --font:'Libre Franklin', sans-serif;
}

*,
*:after,
*:before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-size:20px;
    font-family: var(--font);
}
.section form .form-container div .errorClass{
    display:block;
}
.section form .form-container div .errorBorder{
    border-color:var(--lightRed) ;
    color: var(--lightRed);

}

input,button{
    border: none;
    outline: none;
}
input:focus,button{
    outline: none;
    border: none;
}

body{
    width:100vw;
    min-height:100vh;
    position: relative;
}
.main{
    min-width: 100%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items:center;

    padding-top: 5vh;
}

.header{
    width:80%;
    padding-bottom: 3vh;

    
    text-align:center;
    display:flex;
    flex-direction: column;
    gap: 1vh;
    align-items:center;
}
.header .logo{
    padding-bottom: 1rem;
}
.header .title{
    font-weight: 400;
    color:var(--gray);
    font-size:1.2rem;
}
.header .title span{
    font-weight: 700;
    color:var(--veryDarkBlue);
    font-size:1.2rem;
}
.header .description{
    font-size:0.7rem; 
    color:var(--veryDarkBlue);
    font-weight: 400;
}
.section{
    width:80%;
    height:auto;


    display:flex;
    flex-direction: column;
    gap: 10vh;
    align-items:center;

}
.section .form-container{
    width:100%;
    display:flex;
    flex-direction:column;
    align-content:center ;
   

}
.section .form-container .error{
    display:none;
    color: var(--lightRed);
    font-size: 0.7rem;
    padding: 0.3rem 0 0.2rem 0;
    text-align: center;
}
.section .form-container .mail{
    width:100%;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--paleBlue);
    font-size:0.8rem;
    color:var(--gray);
    border-radius:20px ;
    background: none;

}
.section .btn{
    margin-top:.6rem;
    width: 100%;
    background-color: var(--blue);
    padding: 0.5rem 1.5rem;
    border-radius:20px;
    color: white;
    font-size:0.7rem;
    font-weight: 300;
    cursor: pointer;
    -webkit-box-shadow: 0px 6px 11px 1px rgba(0,0,0,0.1); 
    box-shadow: 0px 6px 11px 1px rgba(0,0,0,0.1);
}
.section .box-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .main-img{
    width:100%;
    object-fit: fill;
}
.footer{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-end;
    width:80%;
    padding-top: 3rem;
}
.footer .social-media{
    display:flex;
    gap:2vh;
    padding-bottom: 1rem;
 
}
.footer .social-media .icon-box{
    border: 1px solid var(--paleBlue);
    padding:0.3rem 0.6rem;
    border-radius: 100px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}
.footer .social-media .icon-box a {
    color:var(--blue);
}
.footer .copy{
    font-size:0.7rem;
    color:var(--gray);
}


@media screen and (min-width:1000px){
    .header{
        width:70%;
    }
    .section{
        width:50%;    gap: 5vh;
    }
    .section .main-img{

    width: 90%;
        
    }
    .section .form-container {
        width: 100%;
        flex-direction: row;
        gap: 1rem;
        align-items: flex-start;
     
    }
    .section .form-container .mail{
        min-width: 100%;
  
    }
    .section .btn{
        width: 40%;
        margin: 0;
    }


    .footer{
        width:60%;
    }
}