@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');


:root{

        /*Primary Colors*/
        --Red: hsl(0, 100%, 74%); 
        --Green: hsl(154, 59%, 51%);

        /*Accent*/
        --Blue:hsl(248, 32%, 49%);

        /*Neutral*/
        --darkBlue:hsl(249, 10%, 26%);
        --grayishBlue:hsl(246, 25%, 77%);

        /*Font*/
        --font:'Poppins', sans-serif;
}

input:focus{
    outline:0;
}
input{
    border:none;
}

*,
*:after,
*:before{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:16px;
    font-family:var(--font);
}



body{
    display:flex;
    justify-content:center;
  
    width:100vw;
    min-height:100vh;
    
    padding-bottom:5vh;

    background:url(../images/bg-intro-mobile.png),var(--Red);
}

.main{
    display:flex;
    flex-direction:column;
    gap:6vh;

    width: 90%; 
    min-height:auto; 
}
.header .header-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 3vh;

    padding-top:10vh;

    text-align:center;
}
.header .header-container h1{
    width: 90%;

    color: white;
    font-size:2rem;
}

.header .header-container p{
    width:95%;

    color:white;
    font-weight: 300;
}

.section{
    display:flex;
    flex-direction:column;
    gap: 3vh;
}
.section .offer{
    display:flex;
    justify-content:center;

    background-color:var(--Blue);
    
    padding:2vh ;
    border-radius:10px;
    
    text-align:center;

    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px 5px 0px 0px  rgba(0,0,0,0.2);
}
.section .offer h2{
    width:70%;
    
    color:white;
    font-weight:600;
}
.section .offer h2 span{
    font-weight:400;
    color:var(--grayishBlue);
    
}

.form-container{
    
    padding:2vh;
    
    border-radius:10px;
    background-color:white;   

    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px 5px 0px 0px  rgba(0,0,0,0.2);
}

.form-container form{
    display:flex;
    flex-direction:column;
    gap: 2vh;
}

.form-container .box{
    display:flex;
    flex-direction:column;
    gap: 1vh;
}
.form-container .box .boxTxt{
    display:flex;
    
    padding:2vh;

    border-radius:10px;
    border: 1px solid var(--grayishBlue);
    
}
.form-container .box .boxTxt input{
    width:100%;

    font-weight: 600;
}


.form-container .box .boxTxt .errorImg{
    display:none;
}

.form-container .box .errorTxt{
    display:none;

    text-align: right;
    color: var(--Red);
    
}
.buttonBox{
    width:100%;
    margin-top:1vh;
    background-color:var(--Green);
    -webkit-box-shadow: inset 2px -7px 0px -4px hsl(154, 59%, 41%); 
    box-shadow: inset 2px -7px 0px -4px hsl(154, 59%, 41%);
    border-radius:10px;
    
    transition:background 200ms linear;
    -webkit-transition:background 200ms linear;
}
.buttonBox:hover{
    background-color:hsl(154, 59%, 41%);
}

.buttonBox .button{
    width:100%;
   
    background-color:transparent;
    
    padding:2vh;

    border:none;
    
    text-transform: uppercase;
    color:white;
    
    cursor:pointer;
}

.termsAndServices{  
    width:100%; 
}

.termsAndServices p{
    font-size:0.8rem;
    font-weight: 300;
    text-align: center;
    color:var(--grayishBlue);
}

.termsAndServices span{
    color:var(--Red);
    font-weight:700;
}

@media screen and (min-width:1440px){
    body{
        display:flex;
        justify-content:center;
      
        width:100vw;
        min-height:100vh;
        
        background:url(../images/bg-intro-mobile.png),var(--Red);
    }
    
    .main{ 
        flex-direction:row;
        gap:2vh;
        justify-content: center;
        align-items:center;
        
    }
    .header{
        width: 40%;
        margin-left: 10vh;
        padding:0;
    }
    .header .header-container{ 
        
        width: 100%;
        text-align: left;
        align-items:start;
       
        padding-top:0;
    }
    .header .header-container h1{
        width: 70%;
        font-size:2.2rem;
        
    } 
    .section{
        width:40%;


        
    }
    .section .offer h2{
        width:100%;
    }
  
    
  }

  
    
