.secondArticle{
    align-items: center;
    justify-content: center;
    margin-top:10vh;
}

.figureAccess{
    width: 90%;
    max-width:700px;
    min-width: 250px;
}
.figureAccess img{
    width: 100%;
}