
.footer{
    width: 100%;
    display:flex;
    flex-direction: column;
    padding:4% 5%;
    background:var(--veryDarkBlue);
    color:white;
}
.figureFooter{
    width:20%;
    min-width: 200px;
    max-width:400px;
    display:flex;
    align-items: center;
}
.figureFooter figcaption{
    font-size: 2.5rem;
    font-family: var(--fontHeader);
    font-weight: 800;
}
.figureFooter  img{
    width: 100%;
    max-width: 60px;
    min-width: 40px;
}




.navFooter{
    display: flex;
    justify-content: space-between;
    width: 90%;

    margin-top:1rem;
}
.navFooter .footerList ul{
    display: flex;
    flex-direction:column;
    gap:.5rem ;
    list-style: none;
    font-family:var(--fontBody);
    font-size:.9rem;
    
}
.navFooter .footerList ul li{
    cursor: pointer;
}
.navFooter .firstList ul li{
    display:flex; 
    gap: .5rem;
}
.navFooter .firstList ul li figure{
    width: 50%;
    min-width:20px;
    max-width:20px;
}
.navFooter .firstList ul li figure img{
    width: 100%;
}
.socialMediaIcons{
    height:2rem;
    display:flex;
    gap:.5rem;
    align-items:center;
}
.socialMediaIcons i{
    font-size: 1rem;
    border:1px solid var(--lightGrayishBlue);
    padding:.5rem .5rem;
    border-radius:100px;
    cursor: pointer;
}
.socialMediaIcons .fa-facebook-f{
    padding:.5rem .75rem;
}
.navFooter .footerList ul li:hover{
    color:var(--brightBlue);
}
.socialMediaIcons i:hover{
    color:var(--brightBlue);
    border-color: var(--brightBlue);
}

@media screen and (max-width:700px){
    .footer{
        align-items:start;
        padding:10% 10%;    
    }
    .navFooter{
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: 3rem;
        margin-top: 3rem;
    }
    .socialMediaIcons{
        align-self: center;
    }

}