
.header{
    width: 100%;
    min-height: 10vh;
    display:flex;    
    padding:5vh 5vw;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.figureLogo{
    width:50%;
    min-width: 50px;
    max-width: 150px;
}
.figureLogo img{
    width: 100%;
}
.nav{
    width: 50%;
    max-width: 250px;
    min-width: 210px;

}
.nav ul{
    display:flex;
    gap:2rem;
    justify-content: space-between;
    align-items:center;
    list-style: none;
}
.nav ul li{ 
    font-family: var(--fontBody);
    color:var(--veryDarkBlue);
    font-size: .9rem;
}

@media screen and (max-width:460px){
    .figureLogo{
     
        width: 100px;
    
    }

}
@media screen and (max-width:345px){
  .header{
      flex-direction: column;
      padding:2vh 0;
  }

}