
.firstArticle{
  gap:5rem;
  align-items: center;
    justify-content: center;
}


.firstArticleContent{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: start;  
    gap: 10vh;

}
.figureFirstArticle{
    width: 50%;
    min-width: 350px;
    max-width: 800px;
}
.figureFirstArticle img{
    width: 100%;
    transform: translateX(-10%);
}

.firstArticleInfo{
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 15vh;
}
.firstArticleInfo .CardFirstArticle h3{
    font-size: 1.25rem;
}
.firstArticleInfo .CardFirstArticle p{
    font-size: .9rem;
    color:var(--grayishBlue);
}

@media screen and (max-width:768px){
  
    .firstArticleContent{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .figureFirstArticle{
        width: 90%;
        min-width:auto;
        max-width: auto;
        display:flex;
        
    }
    .figureFirstArticle img{
        transform: translateX(0);
    }
    .firstArticleInfo{
        width: 90%;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap:3rem;
        margin-top: 3rem;
    }
    .CardFirstArticle{
        display:flex;
        flex-direction: column;
        gap: .25rem;
    }
}