
.secondPart{
    width: 100%;
    height: auto;
 
   
    background: url(../../images/bg-curve-desktop.svg);
   
    background-repeat:no-repeat;
    background-position:top 10% left;
    background-size: contain;
    margin-top: 20vh;
    padding-top: 10%;

    
}
.containerSecondPart{
    width: 100%;
    background: #F8F8FE;
    padding: 0 5%;
    display:flex;

    padding-top: 5rem;
    padding-bottom: 5rem;
}
.titleSecondPart{
    width: 60%;
 
}
.titleSecondPart h2{
    font-family: var(--fontHeader);
    font-size: 2rem;
    color:var(--veryDarkBlue);
    margin-bottom: 1.5rem;
}
.titleSecondPart p{
    width: 90%;
    font-size: .9rem;
    color: var(--desaturatedBlue);
    font-family: var(--fontBody);
    margin: 1rem 0;
}
.titleSecondPart .works{
    width: 100%;
    cursor: pointer;
}
.titleSecondPart .works p{
    display:flex;
    align-items: center;
    justify-content:space-between;
    width: 50%;
    min-width: 150px;
    max-width:155px;
    border-bottom: 1px solid var(--moderateCyan);
    padding-bottom:.25rem;
    color:var(--moderateCyan);
}
.titleSecondPart .works p:hover{
    opacity: 0.9;
}
.titleSecondPart .works p figure{
    width: 100%;
    min-width: 15px;
    max-width: 15px;
    padding-top:.25rem;
}

.titleSecondPart .works p figure img{
    width: 100%;
    
}

.quote{
    width: 50%;
    min-width: 350px;
    max-width: 600px;
    padding:1.5rem 2rem;background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin-top: 2rem;
}
.quote .figureQuote{
    width: 100%;
    max-width:15px;
    min-width: 15px;
  
}
.quote .figureQuote img{
    width: 100%;
}
.avatar{
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content:start;
    gap:1rem;
   
    
}
.avatar .avatarContent{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;    

    font-family: var(--fontBody);

}
.avatar .avatarContent p{
    margin: 0;
}
.avatar figure{
    width: 50%;
    min-width: 40px;
    max-width:10px;
}
.avatar figure img{
    width: 100%;
    border-radius: 50px;
}
.bgImage{
    width: 40%;
    padding-top:5vh;
}
.bgImage figure{
    width: 100%;
    min-width: 300px;
    max-width: 600px;
   
}
.bgImage figure img{
    width: 100%;
}
@media screen and (max-width:700px){
    .secondPart{
        width: 100%;
        background-image: url('../../images/bg-curve-mobile.svg');
        
        background-position:top 0% left 0;
        background-size:contain ;
        margin-top: 10vh;
        padding-top: 10%;
  
        
    }
   .containerSecondPart{
        flex-direction: column-reverse;
        align-items:center;
        
        padding-bottom:15%;
        
      
    }
    .quote{
        width: 100%;
    }
    .bgImage{
        width: 100%;
    }
    .bgImage figure{
        width: 100%;
        min-width: auto;
        max-width: auto;

    }
    .titleSecondPart{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
    }
    .titleSecondPart h2{
        font-size: 1.5rem;
    }
   
    .titleSecondPart p{
        text-align: left;
    }
    .titleSecondPart .works{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .quote{
        width: 90%;
        min-width: 80%;
    }
    .avatar .avatarContent h3{
        text-align: justify;
    }
}