
.header{
    width: 100%;
    min-height: 20vh;
   
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
}
.figureLogo{
    width: 20%;
    min-width:60px;
    max-width:60px;
}
.figureLogo img{
    width: 100%;
}
.nav{
    background:var(--WhiteNav);

    width: 55%;

    min-height: 12.5vh;
    display: flex;
    align-items: center;
    position:relative;
    border-radius:2.5px;
}
.nav:before{
    content: "";
    width: 55%;
    height: 2px;
    position: absolute;
    background:var(--lightGray);
    left: -50%;
    opacity: 0.2;

}

.nav ul{

    list-style: none;
    
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    gap: 3vh;
    align-items: center;
  
    
}
.nav ul li{ 

    width:20%;
    min-height: 12vh;
   
    display: flex;
    justify-content:center;
    align-items: center;
    border-bottom: 3px solid transparent;
}
.nav ul li a{ 
    text-decoration: none;
    color:var(--White);
    text-transform: uppercase;
    font-family: var(--fontNavHeader);

    font-size:1.2rem;
}
.nav ul .homeActive{
    border-bottom: 3px solid var(--White);
}
.nav ul .destinationActive{
    border-bottom:3px solid var(--White);
}
.nav ul .crewActive{
    border-bottom: 3px solid var(--White);
}
.nav ul .techonologyActive{
    border-bottom:3px solid var(--White);
}
.burguerMenu{ 
    display:none;
}
.nav ul li a:hover{
    opacity:0.9;
}
@media screen and (max-width:900px){
    .header{
        padding-left: 2.5%;
        align-items: start;
    }
    .header .figureLogo{
        align-self: center;
    }
    .nav{ 
        width: 80%;
        min-height: 15vh;
        border-radius: none;
        z-index: 100;
    }
    .nav ul{
        padding-left:0;
        gap: 4vh;
    }
    .nav ul li{
        min-height:15vh;
      
    }
    .nav ul li a{
        font-size: 1rem;
    }

    .nav:before{
        display: none;
    }
}

@media screen and (max-width:600px){


    .nav{
         background:transparent;
        justify-content:flex-end;
        align-items: center;
 
      
    }
    .nav ul{
        position:fixed;
        top:0%;
      
        right:0%;
        background:var(--WhiteNav);
        justify-content:center;
        z-index: 0;
        gap:2vh;
        flex-direction: column;
        opacity: 0;
        width: 0;
        min-height: 125vh;
        transition:all 300ms linear;
        
    }
    .nav ul li{
        width: 100%;
        display:flex;
        justify-content:end;
        padding-right:10%;
    }
    .nav ul li a{
        font-size:1.25rem;
    }
  
    .burguerMenu{ 
        display:block;
        padding-top: 5%;
        padding-right:5% ;
        z-index: 1;
    }
    .nav .visible{
        opacity: 1;
        right: 0;
        width: 70%; 
    }
    .nav .visible li{
       display:block;
       text-align: end;
       width: 100%;
     
    }
    .nav ul li{
        display:none;
    }
    .nav ul .homeActive{
        border-bottom-color:  transparent;
    }
    .nav ul .destinationActive{
        border-bottom-color:  transparent;
    }
    .nav ul .crewActive{
        border-bottom-color:  transparent;
    }
    .nav ul .techonologyActive{
        border-bottom-color:  transparent;
    }

}