    .thirdArticle{

    justify-content:center;
    align-items:center;
}
.contentArticle{
    width: 80%;
    display:flex;
    gap:2rem;
    justify-content:space-between;
    align-items:center;
    margin: 2.5rem 0 7rem 0;
}

.contentCardArticle{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    text-align:center;
    gap: 1rem;
}
.contentCardArticle p{
    width: 80%;
}
.logoContainer{
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.logoBrands{
    width: 100%;
    max-width: 120px;
    min-width: 60px;
}
.logoBrands img{
    width: 100%;
}

@media screen and (max-width:800px){

    .contentArticle{
        flex-direction: column;
        
    }
    .logoContainer{
        flex-direction: column;
    }
    .logoContainer{
        width: 100%;
        justify-content:center;
        align-items:center;
        gap: 3.5rem;
    }
    
    .logoBrands{
        min-width: 150px;
    }
}