@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root{
    /**Colors**/
    /**Primary**/
  --darkBlue_intro_and_email_sign_up_background: hsl(217, 28%, 15%);
  --darkBlue_main_background: hsl(218, 28%, 13%);
  --darkBlue_footer_background: hsl(216, 53%, 9%);
  --darkBlue_testimonials_background: hsl(219, 30%, 18%);

  /**Accent**/
  --grd:linear-gradient(0deg, rgba(51, 158, 204, 1) 0%, rgba(101, 226, 217, 1) 100%);;
  --lightRed: hsl(0, 100%, 63%);

  /**Neutral**/
  --White: hsl(0, 0%, 100%);

  /**Font**/
  /**Headings, Call-to-actions, Header Navigation**/
  --fontHeader:'Raleway', sans-serif;
  /**Body**/
  --fontBody:'Open Sans', sans-serif;;
} 
h1,h2,h3,h4,li{
  font-family: var(--fontHeader);
}
p,button,a{
  font-family: var(--fontBody);
}

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}


body{
  width: 100%;
  min-height: 100vh;
  background:var(--darkBlue_intro_and_email_sign_up_background);
  
}
main{
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
 
}
.content{
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--darkBlue_main_background);  

}

.cardContainer{
  width: 50%;
  display:flex;flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-top: 5rem; ;
}
.mainContainer{
  width: 90%;  
  z-index: 10;
  display:flex;
  flex-direction: column;
}
.reviews{
  margin-top: 10rem;
  width: 100%;
  display:flex;
  justify-content: space-between;
  gap: 2rem;
}
.earlyAccessContainer{
  width: 70%;
  max-width: 1000px;
  align-self: center;
  background-color:var(--darkBlue_intro_and_email_sign_up_background);
  margin-top: 5rem;
  transform:translateY(10vh);
}
@media screen and (max-width:950px){
  .earlyAccessContainer{
 
    transform:translateY(6vh);
  }
}
@media screen and (max-width:800px){
  .cardContainer{
    width: 90%;
    gap: 3rem;
  }
  .reviews{
    flex-direction: column;
    align-items: center;
    background-position:  top  left 12.5vw;
    background-repeat: no-repeat;
    padding-top:4vh;
  }
  .earlyAccessContainer{
    width: 90%;
  }
}
@media screen and (max-width:500px){
  .cardContainer{
    width: 100%;
    flex-direction: column;
    gap: 3rem;
    padding-top:2rem;
  }
}

