
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root{
    /*Primary Colors*/
    --moderateViolet: hsl(263, 55%, 52%);
    --veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --veryDarkBlackishBlue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

    /*Neutral Colors*/

    --lightGray: hsl(0, 0%, 81%);
    --lightGrayishBlue: hsl(210, 46%, 95%);


    /*Font*/
    --font:'Barlow Semi Condensed', sans-serif;

    /*
        1. "Verified Graduate" has the same color as the person's name with 50% opacity
        2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

    */

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: var(--font);
}

#root{
  width: 100%;
  min-height:100vh;
  background-color:var(--lightGrayishBlue);
  padding:2rem 0;
}


.main 
{ 

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.9fr 1.4fr 0.1fr 3fr 0.1fr 3.5fr; 
  gap: 0px 0px; 
  gap: 1.5rem 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "item1"
    "item1"
    "item1"
    "item2"
    "item2"
    "item3"
    "item3"
    "item4"
    "item4"
    "item5";
    justify-items:center;
 
}


.cardClass{
  
  width: 90%;
  height:100%;
  border-radius:10px;
  padding: 1rem 2rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  gap:1.25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.cardClass .headerCard{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cardClass .headerCard .figureClass{
  width: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.cardClass .headerCard .figureClass img{
  width: 100%;
  border-radius: 50px;
}
.cardClass .headerCard .accountType{
  color:var(--lightGray);
  font-weight: 400;
  font-size:.9rem;
}
.cardClass .headerCard .titleCard{
  font-weight:800;
  font-size:1.1rem;
  letter-spacing:.25px;
}

.cardClass .mainInfo{
  width: 100%;
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
.cardClass .mainInfo .introInfo{
  font-size:1.45rem;
  font-weight: 800;
  word-spacing: .02rem;
  line-height: 1.1;
}
.cardClass .mainInfo .bodyInfo{
  font-size:.9rem;
  color:var(--lightGray);
}


.card1 { 
  grid-area: item1;
  background-color:var(--moderateViolet);
  color:var(--White);
}  



.card4 .mainInfo .bodyInfo{
  color:var(--lightGray);
}

.card2 { 
  grid-area: item2;
  background-color:var(--veryDarkGrayishBlue);
  color:var(--White);
 }

.card3 { 
  grid-area: item3; 
  background-color:var(--White);
}

.card4 { 
  grid-area: item4; 
  background-color:var(--veryDarkBlackishBlue);
  color:var(--White);
}

.card5 { 
  grid-area: item5; 
  background-color:var(--White)
}

@media screen and (min-width: 1000px) {
  #root{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .main 
  { 
    width: 90%;
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 2rem ;
    grid-auto-flow: row;
    grid-template-areas:
      "item1 item1 item1 item1 item1 item2 item2 item5 item5"
      "item3 item3 item4 item4 item4 item4 item4 item5 item5";
      
  }
  .cardClass{
    width: 100%;
    min-width: 100%;
  
    gap:2rem;

  }


}