header{
    width:100%;
  
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
    gap: 1rem;
    flex: 1;
}
header h1{
    font-size: 1.5rem;
    color:var(--darkGrayishBlue);
}
form{
    
    display:flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
}
form label{
    font-size: .9rem;
    color:var(--lightGrayishBlue);
    cursor: pointer;
}
.options{
    
    width: 60px;
    height: 30px;
    display:flex;
    gap: .5rem;
    justify-content: space-between;
    align-items:center;
    padding: 2.5%;
    border-radius: 20px;
    background: var(--grd);
    position:relative;
    transition:opacity 200ms linear;
  
}
.options:hover{
    opacity: 0.8;
}
.options:before{
    content: "";
    width: 35%;
    height: 70%;
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 10%;
    background:var(--veryLightGrayishBlue);
    border-radius:100% ;
    transition:all 300ms ease-in-out;
}
.options input{
    appearance: none;
    width: 40%;
    height: 100%;cursor: pointer;
    z-index: 100;
    border-radius: 100%;
}
#monthlyClicked .options:before{
    left: 55%;
}