
.main{
    width: 100%;
    height: 100%;
    padding: 0 10%;
}
.mainContainerCards{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
    transform:translateY(-10vh);

}

.prmCard{
    width: 22.5%;
    min-height:27vh;
    max-width: 350px;
    border-radius: 4.5px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:1rem;
    padding-top:1.25rem;
    padding-bottom:1rem;
    position:relative;
    transition: background 150ms linear;
}
.titleCard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap:.5rem;
    transform:translateY(-.5rem)
}
.titleCard p{
    color:var(--darkGrayishBlue_Text);
    font-weight: 800;
}
.figureCardTitle{
    width: 15%;
    min-width: 12.5px;
    max-width:17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.figureCardTitle .icon{
    width: 100%;
}
.bodyCard{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    transform:translateY(-1rem)
}
.bodyCard .numberFollowers{
    font-size: 3rem;
}
.bodyCard p{
    letter-spacing: .25rem;
    text-transform: uppercase;
    color:var(--darkGrayishBlue_Text);
    font-weight: 300;
}

.footerCard{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:var(--limeGreen);
    font-weight: 700;
    gap:.25rem;

}
.figureCardFooter{
    width: 10%;
    min-width:5px;
    max-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.figureCardFooter .iconArrow{
    width:100%;
}
.youtubeClass .footerCard{
    color:var(--brightRed);
}

.facebookClass:before{
    content:"";
    position:absolute;
    top: 0;
    border-radius:50px;
    width: 100%;
    height: 3px;
    background: var(--Facebook);
}
.twitterClass:before{
    content:"";
    position:absolute;
    top: 0;
    border-radius:50px;
    width: 100%;
    height: 3px;
    background: var(--Twitter);
}
.instagramClass:before{
    content:"";
    position:absolute;
    top: 0;
    border-radius:50px;
    width: 100%;
    height: 3px;background: var(--Instagram);
}
.youtubeClass:before{
    content:"";
    position:absolute;
    top: 0;
    border-radius:50px;
    width: 100%;
    height: 3px;background: var(--YouTube);
}




/*Mode Card*/
.darkCard{
    background:var(--darkDesaturatedBlue_CardBG);
}
.lightCard{
    background:var(--lightGrayishBlue_CardBG);
}
.darkCard .bodyCard .numberFollowers{
    color:var(--white_Text)
}

@media screen and (max-width:900px) {
    .main{
        padding:0 5%;
    }
    .mainContainerCards{
        flex-direction: column;
        width: 100%;
        
    }   
    .prmCard{
        width: 100%;
        max-width: none;
    }
}
