@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root{

    /*Primary*/
    --clr-Pale-blue: hsl(225, 100%, 94%);
    --clr-Bright-blue: hsl(245, 75%, 52%);

    /*Neutral*/
    --clr-Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    
    /*Font*/
    --font:'Red Hat Display', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: var(--font);

}


body{
    width: 100%;
    min-height: 100vh;
    background: var(--clr-Pale-blue);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   
    

}
.pattern{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.card{
    width: 300px;
    min-height: 35vh;
    background: white;
    border-radius: 20px;
    position: relative;
    padding-bottom:1vh;

}

.card .card-header img{
    width: 100%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
.card .card-body{
    
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2vh;
    padding-top: 1vh;
}
.card .card-body .card-text h1{
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--Dark-blue);
}
.card .card-body .card-text p{
        width: 85%;
}
.card .card-body .card-text{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    text-align: center  ;
}
.card .card-body .card-plan-section{
    display: flex;
    justify-content: space-between;
    background: var(--clr-Very-pale-blue);
    width: 90%;
    border-radius: 10px;
    padding: 1vh 0;
    align-items: center;

}
.card .card-body .card-plan-section .card-plans img{
    margin-left: 1vh;
}
.card .card-body .card-plan-section .card-plans p:first-of-type{
    font-weight: 800;
    color: var(--Dark-blue);

}
.card .card-body .card-plan-section .card-plans{
    display: flex;
    gap: 1vh;
    font-size: 0.9rem;
}
.card .card-body .card-plan-section .card-plans .plan{

    align-self: center;
}
    .card .card-body .card-plan-section a{
    font-size: .9rem;
    margin: 0 1vh;
    text-align: right;
    text-decoration: none;
    font-weight: 800;
    color: var(--clr-Bright-blue);
    
    

}
.card .card-body .card-buttons{
    
    width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin-top: 2vh;
  

}


.card .card-body .card-buttons a{

        width: 90%;
        padding: 0.9vh 0;
        text-decoration: none;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 700;
}
.card .card-body .card-buttons .proceed{
    background-color: var(--clr-Bright-blue);
    border-radius: 10px;
    color: white;
    box-shadow: 1px 3px 57px -13px hsl(245, 75%, 52%),0px 10px 15px -3px rgba(0,0,0,0.1);

   
}
.card .card-body .card-buttons .cancel{
    color: var(--Desaturated-blue);
    margin-top: 1vh;

}


@media screen and (min-width:1440px) {

    .pattern{
        content: url(images/pattern-background-desktop.svg);
    }
    .card{
        width: 400px;
        
    }

    
}