

.homeComponent{
    width: 100%;
    min-height:80vh;
    display:flex;
    align-items: center;
    justify-content: space-between;

    
}
.infoHome{
    width: 50%;
    
    height:100%;

    display:flex;
    justify-content: start;
    padding-left: 7.5%;

}
.infoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
  
}
.infoHome .subTitle{
    color:var(--lightGray);
    font-size: 2.5rem;
    font-family: var(--fontNavHeader);
    text-transform:uppercase;

}

.infoHome .Title{
    color:var(--White);
    font-size: 11rem;
    font-family: var(--fontInfo);
    text-transform:uppercase;

}
.infoHome .description{
    font-size:1rem;
    color:var(--lightGray);
    width: 100%;
    max-width: 400px;
    text-align: justify;
    line-height: 1.6;
    opacity: 0.8;
}
.linkExplore{
    width: 50%;
    display:flex;
    justify-content: flex-end;
    text-decoration: none;
    margin-top:10%;
   
}


.exploreSection{
    width:20vw;
    min-width: 250px;
    max-width: 400px;
    height:20vw;
    min-height: 250px;
    max-height: 400px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:var(--White);
    margin-right: 10%;
    border-radius: 100%;
    position: relative;
    z-index: 10;
}
.exploreSection:hover::before{
    transform:scale(1.1);  
  }
.exploreSection::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--White);
    opacity: 0.4;
    scale:1.5;
    position: absolute;
    top:0;
    border-radius: 100%;
    z-index: -1;
    transition:transform 300ms linear;
}
.exploreSection h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color:var(--Black);
   
    font-family: var(--fontInfo);
}

@media screen and (max-width: 900px) {
    .homeComponent{
        width: 100%;
        flex-direction: column;
        gap: 0;
        justify-content:start;
        align-items:center;
        gap: 3rem;
        
    }
    .infoHome{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding:0;
        margin: 0;
        text-align: center;
        margin-top: 1rem;
    }
    .infoHome .subTitle{
        font-size:2rem;
     
    }
    .infoHome .Title{
        font-size:9rem;
    }
    .infoHome .description{
        max-width: 350px;
        font-size:.9rem;
        text-align: center;
    }
    .infoContainer{
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
    .linkExplore{
        width: 100%;
        justify-content: center;
        align-items:center;
        margin: 0;
        padding:0 ;
        
    }
    .exploreSection{
        width:20vw;
        min-width: 250px;
        max-width: 300px;
        height:20vw;
        min-height: 250px;
        max-height: 300px;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width:600px){
    .infoHome{
        margin-top:0;
      
    }
    .infoContainer{
        gap: 1rem;
    }
    .infoContainer .subTitle{
        font-size:1.5rem;
        
    }
    .infoContainer .Title{
        font-size:4rem;
    }
    .infoContainer .description{
        max-width: 90%;
        font-size:.9rem;
        text-align: center;
    }
    .exploreSection{
        width:20vw;
        min-width: 150px;
        max-width: 300px;
        height:20vw;
        min-height: 150px;
        max-height: 300px;
        margin: 0;
        padding: 0;
    }
    .exploreSection .explore{
        font-size: 2rem;
    }
}