@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
:root{
  /*Colors*/
  /*Primary*/
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  /*Neutral*/
  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);

  /*Font*/
  --font:'Manrope', sans-serif;
}

*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 28px;
  font-family: var(--font);
}
body{
  width: 100%;
  min-height: 100vh;
  background:var(--darkBlue);
} 
#root{
  width: 100%;
  height: 100%;
}
