input,button{
    background:none;
    outline: none;
    border: none;
}


.searchBar{

    display:flex;
    width: 30%;
    max-width: 500px;min-width: 300px;
    height: 10vh;
    align-self:flex-end;

}
.form{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.form label{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form label input{
    width: 90%;
    font-size: 1.5rem;
    font-weight: 400;
    color:var(--white);
    background:var(--black);
    border:1px solid var(--orange);
    border-bottom-color: var(--red);
    border-bottom-width: 5px;
    padding:.15rem .6rem;
    opacity: .6;
    
}
.form label input:active{
    opacity: .8;
}
.form label svg{
    width: 10%;
    min-width: 40px;
    padding:.5rem;
    height: 95%;
    background-color: #ff7e677c;
    opacity: .4;
    cursor: pointer;


}
.form label svg:hover{
    opacity: .7;
}
.form button{
    align-self: end;
    width: 55%;
    background-color: var(--black);
    padding:.5rem .2rem;
    color:var(--red);
    font-weight: 800;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .6 ;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.form button:hover{
    opacity: .8;
}

