.crewContainer{
    width:100%;
    min-height: 80vh;
    display:flex;
    position:relative;
}
.containerCrew{
    width: 60%;
    min-height: 100%; 
}
.infoCrew{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left:20%;
}
.infoCrew .spaceSection{
    font-size: 1.5rem;
    font-family: var(--fontNavHeader);
    font-weight: 300;
    color:var(--White);
    margin-top: 1rem;
    text-transform: uppercase;
}
.infoCrew .spaceSection span{
    color:var(--lightGrayishBlue);
    margin-right: 0.5rem;
}
.infoCrew .mainContentCrew{
    width: 100%;
}
.infoCrew .mainContentCrew .rolCrew{
    color:var(--lightGrayishBlue);
    font-family: var(--fontInfo);
    font-size: 2rem;
}
.infoCrew .mainContentCrew .nameCrew{
    color:var(--White);
    font-family: var(--fontInfo);
    font-size: 4.5rem;
}
.infoCrew .mainContentCrew .aboutCrew{
    color:var(--lightGray);
    font-family: var(--fontTextBody);
    font-size: 1.15rem;
    text-align: left;
    max-width: 450px;
    margin-top: 2rem;
    line-height: 1.5;
    letter-spacing:.02rem;
}
.form{
    width: 100%;
    display:flex;
    gap: 2rem;
    margin-bottom: 7rem;
}
.form .radioContainer {
    width: 20px;
    height: 100%;
    display:flex; 
}
.form .radioContainer .radioOptions{
    appearance:none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    background:var(--lightGray);
    opacity: .2;
    transition: all 200ms linear;
}
.form .radioContainer .radioOptions:hover{
    opacity: .7;
}
.form .radioContainer .radioOptions:checked{
    background:var(--White);
    opacity: 1;
}
.imageCrew{
    width: 40%;
    display:flex;
    justify-content: center;
}
.imageCrew .figureCrew{
    width: 60%;
    max-width: 600px;
    min-width: 350px;
    height: 100%;
    display:flex;
    align-items: end; 
}
.imageCrew .figureCrew img{
    width: 100%;
    min-height: 90%;
    max-height:500px ;
}
@media screen and (max-width:900px){
    .crewContainer{
        flex-direction: column;
    }
    .containerCrew{
        width: 100%;
    }
    .infoCrew{
        width: 100%;
        padding:0;
    }
    .infoCrew .spaceSection{
        margin-left: 10%;
    }
    .infoCrew .mainContentCrew{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5rem ;
    }
    .infoCrew .mainContentCrew .aboutCrew{
        max-width: 70%;
        text-align: center;
    }
    .form{
        margin-top: 3rem;
        justify-content: center;
    }
    .imageCrew{
        width: 100%;
    }
    .imageCrew .figureCrew{    
        justify-content: center;
    }
}
@media screen and (max-width:600px){
    .crewContainer{
        flex-direction: column-reverse;
    }
    .infoCrew{
        flex-direction: column-reverse;
    }
    .infoCrew .mainContentCrew {
        margin-top: 0;
    }
    .infoCrew .mainContentCrew .rolCrew{
        font-size: 1.25rem;    
    }
    .infoCrew .mainContentCrew .nameCrew{
        font-size: 2.5rem; 
    }
    .infoCrew .mainContentCrew .aboutCrew{
        max-width: 90%;
        font-size: .9rem;
        margin-top:1rem;
    }
    .form{
        margin-bottom:2rem;
    }
    .spaceSection{
        position: absolute;
        top: 0;
    
        width:75%;
        text-align:center;
    }
    .imageCrew{
        margin-top:4rem ;
        border-bottom: 3px solid #b4b7ca5c;
    }
    .imageCrew .figureCrew{
        min-width: 200px;
        width: 50%;
        align-items: center;
    }
    .imageCrew .figureCrew img{
        width: 100%;
        max-height: 250px;
    }
    .crewContainer{
        padding-bottom:2rem;
    }
}