@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
:root{

    /*Primary*/
    --softRed: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --darkDesaturatedCyan: hsl(167, 40%, 24%);
    --darkBlue: hsl(198, 62%, 26%);
    --darkModerateCyan: hsl(168, 41%, 53%);
    /*Neutral*/
    --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
    --veryDarkGrayishBlue: hsl(213, 9%, 39%);
    --darkGrayishBlue: hsl(232, 10%, 55%);
    --grayishBlue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    /*Fonts*/
    --font1:'Barlow', sans-serif;
    --font2:'Fraunces', serif;
}
*,
*:after,
 *:before { 
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:18px;
}


.header .visible{
  opacity: 1;
  transform: translateX(-50%);
}
body{
    width:100%;
    min-height:100vh;
}
.header{
    width:100%;
    min-height:60vh;
    
    background-image: url(../images/MobileHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

 
}
.first-container{
  
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}
.burger{
    cursor: pointer;
}
.bar{ 
  
    background-color:var(--white);
    list-style: none;
    width:80%;
    padding:3rem 0;
    position:absolute;
    top:10%;
    left: 50%;
    transition: all 150ms ease-in-out;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:4vh;
    opacity: 0;
}
.bar:before{
    content:"";
    position:absolute;
    top: -8%;
    right:0;
    width: 0; 
    height: 0; 
    border-left: 60px solid transparent;
    border-right: 0px solid transparent;
    
    border-bottom: 70px solid var(--white);
}
.bar a{
    color:var(--veryDarkGrayishBlue);
    text-decoration: none;
    font-family: var(--font1);

}
.bar li:last-of-type a{
    background-color:var(--Yellow);
    padding:1vh 2vh; 
    border-radius:100px;
} 

.titleContent{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding-top:2rem;
    gap:4vh;
    
}

.titleContent h1{
    font-size:2.5rem;
    font-family:var(--font2);
    color:var(--white);
}
.main{
    width:100%;
    min-height:auto;
   
}
.primaryArticle{
    display:flex;
    flex-direction: column-reverse;
    justify-content:center;
    align-items:center;
}
.primaryArticle .info {
    display:flex;
    
    justify-content:center;
    align-items:center;
}
.primaryArticle .info .content{
    padding:3rem 0;
    width:88%;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:4vh;
    text-align: center;
}
.info h2{
    font-size:1.85rem;
    font-family:var(--font2);
    color:var(--veryDarkDesaturatedBlue);
}
.info p{
    font-family:var(--font1);
    color:var(--darkGrayishBlue);
}
.info a{
    font-family:var(--font2);
    color:var(--veryDarkDesaturatedBlue);
    position:relative;
    text-decoration:none;

}
.info a:before{
    content:"";
    width:100%;
    height:25%;
    background: linear-gradient(90deg,rgba(255,255,255,0.5),rgba(255,255,255,0.5)),var(--Yellow);
    position:absolute;
    bottom:2.5%;
    z-index:-10;
    border-radius:100px;

}
 .article2 .info a:before{
    
    background: linear-gradient(90deg,rgba(255,255,255,0.5),rgba(255,255,255,0.5)),var(--softRed);
   
}
.articleImg{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}


.articleImg  img{
    width:100%;
    
}

.secondaryArticle{
    width:100%;
    display:flex;
    flex-direction: column; 
    line-height: 1.5;
}
.firstPart{
 width:100%;
 min-height:70vh;
 background:url('../images/MobileGraphicDesign.jpg');
 background-size:cover;
 background-repeat:no-repeat;
 display:flex;
 flex-direction: column;
 justify-content:flex-end;
 align-items:center;
 padding-bottom:3rem;
 color:var(--darkDesaturatedCyan);
}

.secondPart{
 width:100%;
 min-height:70vh;
 background-image:url('../images/MobilePhotography.jpg');
 background-size:cover;
 background-repeat:no-repeat;

 display:flex;
 flex-direction: column;
 justify-content:flex-end;
 align-items:center;
 padding:2rem 0;
 color:var(--darkBlue);


}
.info2 {
    width:90%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap:1vh;
   
}
 .info2 h3{
     font-size:1.5rem;
    font-family:var(--font2);

}
 .info2 p{
    font-family:var(--font1);
    font-size:.9rem;

}
.section{
    text-align:center;
    padding-top:2rem;
}
.section h2{
    font-family: var(--font2);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing:.15rem;
    color:var(--darkGrayishBlue);
}
.testimonialsGroup{
        width:100%;
        min-height:auto;
        display:flex;
        gap:4rem;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        padding: 5rem 0 ;
    }
.testimonial{
    width:90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;;
    gap:1.5rem;
    line-height:1.9;
    color:var(--veryDarkDesaturatedBlue);
}
.profileImage{
    width:100%;
    display:grid;
    place-content: center;
}
.profileImage img{
 
    width:80px;
    border-radius:100px;
}

.testimonial p{
    font-family: var(--font1);
    font-size:.9rem;
  
}
.testimonial h3{
    font-family: var(--font2);
}
.testimonial .gray{
    color:var(--grayishBlue);
}


.images {  
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "firstImage secondImage"
      "thirdImage fourthImage";
      place-content: center;
  }
  
  .firstImage { grid-area: firstImage;  display:grid; place-content: center}
 .imageContainer{
     display:flex;
     justify-content: center;
     align-items: center;
 }
 .imageContainer  img{
     width:100%;
 }

  
  .secondImage { grid-area: secondImage; }
  
  .thirdImage { grid-area: thirdImage; }
  
  .fourthImage { grid-area: fourthImage; }
  

  .footer{
   
      background-color:var(--darkModerateCyan);
      display:flex;
      flex-direction:column;
      gap:10vh;
   
      align-items:center;
      color:var(--darkDesaturatedCyan);
      padding:3rem 0;
    
  }
  .menuFooter{
  
        display:flex;
        flex-direction: column;
        gap:3vh;
      
        align-items:center;
     
      
    }
    .menuFooter h3{
        font-family: var(--font2);
        font-size:1.5rem;
    }
    .barFooter{
    
       
        display:flex;
        list-style: none;
        gap: 5vh;
        font-family: var(--font1);
        font-size:.7rem;

    }
    .barFooter a{
        text-decoration: none;
        color:var(--darkDesaturatedCyan);
    }
    .socialMedia{   
        display:flex;
        gap:2vh;
    }
    .socialMedia div{
        padding:.5rem;
        border:1px solid transparent;
       border-radius:10px;
       display:flex;
       align-items: center;
       cursor: pointer;
       transition: border 150ms linear;
    }
.barFooter a:hover{
    color: var(--darkGrayishBlue);
}
    .socialMedia div:hover{
        border:1px solid var(--darkGrayishBlue);
    }
 

    @media screen and (min-width:1000px){
     
        .header{
       
            min-height:100vh;
            background-image: url('../images/DesktopHeader.jpg');

        }
        .article1{
            flex-direction: row;
        }
        .article2{
            flex-direction: row-reverse;
        }
        .primaryArticle .info{
            width: 50%;
            gap: 0vh;
        }
        .articleImg{
            width: 50%;
           
            display:flex;
            align-items: center;
            justify-content: center;
        }
        .imgArticle1 img{
            width: 100%;
            content:url("../images/DesktopTransform.jpg");
        }
        .imgArticle2 img{
            width: 100%;
            content:url("../images/DesktopStandOut.jpg");
        }
        .secondaryArticle{
            flex-direction: row;
        }
 
        .firstPart{
            background-image:url("../images/DesktopGraphicDesign.jpg");

        }
        .secondPart{
            background-image:url("../images/DesktopPhotoGraphy.jpg");
         
        }

        .testimonialsGroup{
            flex-direction: row;  
        }
        .section{
            padding-top:5rem;
        }
        .testimonial{
            width: 25%;
        }
        .firstImage img{ 
            content:url(../images/DesktopGalleryMilkbottles.jpg);
        }
        .secondImage img{ 
            content:url(../images/DesktopGalleryOrange.jpg);
        }

        .thirdImage img{ 
            content:url(../images/DesktopgalleryCone.jpg);
        }

        .fourthImage img{ 
            content:url(../images/DesktopGallerySugarcubes.jpg);
        }
        .images {  display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "firstImage secondImage thirdImage fourthImage"
              "firstImage secondImage thirdImage fourthImage";
          }
          
          .firstImage { grid-area: firstImage; }
          
          .secondImage { grid-area: secondImage; }
          
          .thirdImage { grid-area: thirdImage; }
          
          .fourthImage { grid-area: fourthImage; }
          

    

.header h1{
    font-size:4rem;
}

    .burger{ 
            display:none;
    }
        
    .bar{ 
  
    background-color:transparent;
    list-style: none;
    width:100%;
    padding:3rem 0;
    position:relative;
    top:0;
    left:0%;
    transform: translateX(0%);
    opacity: 1;
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:4vh;
}
    .bar a{
    color:var(--white);  
    transition:all 150ms ease-in-out;
    font-size:1.5rem;
}
    .bar li:last-of-type a{
    background-color:var(--white);
    color:var(--veryDarkDesaturatedBlue);
    padding:1vh 2vh; 
    border-radius:100px;
} 
    .bar a:hover{
    color:var(--veryDarkDesaturatedBlue);
}
    .bar .special:hover{
    background-color:rgba(255, 255, 255, 0.247);
    color:var(--white);
}


.primaryArticle .info{
    display:flex;
    justify-content:center;
    align-items:center;
}
.primaryArticle .info .content{
    width:70%;
    text-align:left;
    display:flex;flex-direction:column;
    gap:2vh;
    align-items: flex-start;
   position:relative;
}
.primaryArticle .info .content h2{
    font-size:2.25rem;
}
.primaryArticle .info .content p{
    font-size: 1.3rem;
    line-height: 1;
}
.primaryArticle .info .content a{
    font-size: 1.3rem;
}

.info .content a:hover:before{
    content:"";
    width:100%;
    height:25%;
    background: linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,0)),var(--Yellow);
    position:absolute;
    bottom:2.5%;
    z-index:-10;
    border-radius:100px;
}
 .article2 .info a:hover:before{
    
    background: linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,0)),var(--softRed);
  
}
.bar:before{
  
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    
    border-bottom: 0px solid transparent;
}


    }