@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root{

    /*Primary*/
    --strongCyan: hsl(172, 67%, 45%);
    /*Neutral*/
    --veryDarkCyan:hsl(183, 100%, 15%);
    --darkGrayishCyan: hsl(186, 14%, 43%);
    --darkGrayishCyan2: hsl(184, 14%, 56%);
    --lightGrayishCyan: hsl(185, 41%, 84%);
    --lightGrayishCyan2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    /*Font*/
    --font:'Space Mono', monospace;
}
*, *:after, *:before {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:24px;
    font-family: var(--font);
}
    
input{
    background-color:transparent;
    border:0;
    text-align:right;
    color:var(--veryDarkCyan);
    font-weight: 700;
}
input:focus{
    outline:0;
}
button{
    background:transparent;
    border:none;
}
body{
    width:100%;
    min-height:100%;
    background-color:var(--lightGrayishCyan);
}
.main{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
.header{
    width:100%;

    text-align:center;
    padding: 1rem;
}

#form{
    width:100%;
    display:flex;
    justify-content:center;
          
    flex-direction:column;
    gap:2vh;
}
.titleContainer{
text-align:center;
padding:1rem;

}
.calculator{ 
    width:100%;
    min-height:100vh;
    background-color:var(--White);
    display:flex;
    flex-direction:column;
    align-items:center;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    gap:1rem;
    padding:1rem 0;
}
.inputs{
    width:100%;
    align-items:center;
    
    display:flex;
    flex-direction:column;
    gap: 1rem;
}

.Container{

    display:flex;
    flex-direction:column;
    gap:1vh 0;
    width:90%;
  
  
}

.subtitle{
    font-size:0.6rem;
    font-weight:400;
    color:var(--veryDarkCyan);
 }
.inputContainer{
    background-color:var(--lightGrayishCyan2);
    padding: 1vh 2vh;
    border-radius:5px;
    display:flex;
    align-items:center;
    border:1px solid transparent;
    transition:border 150ms linear;
}
.txtInp{
    width:100%;
  
}
.inputContainer:hover{
    border-color:var(--veryDarkCyan);
}
.percentageContainer{
    display:flex;
    flex-direction: column;
    gap:1vh; 
    align-items:center;
    width:90%;
}
.options{

    display:flex;
    flex-wrap: wrap;
   justify-content:center;
   gap:  1vh;

}

.percentage{
    width:47%;
    text-align:center;
    background-color:var(--veryDarkCyan);
    padding:.25rem;
    color:var(--White);
    font-weight: 800;
    border-radius:5px;
    font-size:0.9rem;
    text-align:center;
    transition:all 150ms linear;
}
.customPercentage{
    background-color:var(--lightGrayishCyan2);
    color:var(--veryDarkCyan);

}
.percentageContainer .subtitle{
    align-self:flex-start;
    margin-left:0.1rem;
}





.outputs{

    display:flex;
    justify-content:center;
    align-items: center;
    width: 100%;

}

.outputsContainer{

    background-color: var(--veryDarkCyan);
    padding:1.5rem 1rem;
    width:90%;

    display:flex;
    flex-direction:column;
    border-radius:10px;
    gap:2vh;
}

.info{

    display:flex;
    align-items:center;
    justify-content:space-between;  
}
.info h3{
    font-size:0.6rem;
    color:var(--White); 
}
.info h3 span{
    font-size:0.4rem;
    color:var(--darkGrayishCyan2);
}

.screen{
    width:30%;
    color:var(--strongCyan);
   

}
.button{
    margin-top:2vh;
    width:100%;
    background:var(--strongCyan);
    border-radius:5px;
    padding:.25rem 0;
    text-transform: uppercase;
    color:var(--veryDarkCyan);
    font-weight:800;
    transition:all 200ms ease-in-out;
}
.group-info{
    display:flex;
    flex-direction: column;
    gap:.5rem;
}
.percentage:hover{
    background-color:var(--lightGrayishCyan);
    color:var(--veryDarkCyan);
    cursor: pointer;
}
.button:hover{
    cursor: pointer;
    background-color:var(--lightGrayishCyan);
    color:var(--darkGrayishCyan);
}
 .main .percentageContainer .selected{
    background-color:var(--darkGrayishCyan);
    color:var(--veryDarkCyan);
}
.errorContainer{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.error{
    display:none;
    font-size:0.7rem;
    color:rgb(241, 104, 104);
}
.main .errorBorder{
    border:1px solid rgb(241, 104, 104);

}
@media screen and (min-width:1000px){

 
 
   
    #form{
        gap:4vh;
    }
    .titleContainer{
        margin-top:2rem;
        
    }
    .calculator{ 
        width:80%;
        min-height:auto;
        justify-content:center;
        flex-direction:row;
        align-self: center;
        border-radius:10px;
        padding:1rem;
  
    }

  
    .outputsContainer{
        border-radius:10px;
        width:100%;
        min-height:50vh;
        flex-direction:column;
        justify-content:space-between;        
    }
    
    .info{

    display:flex;
    align-items:center;
    justify-content:space-between;  
}
    .info h3{
    font-size:1rem;
 
}
    .info h3 span{
    font-size:0.6rem;
  
}

 .screen{
 
    font-size:1.7rem;

   

}
.group-info{
    gap:1rem;
}
  
  
    
}