button{
    background:none;
    outline:none;
    border: none;
}
.card{
    width: 30vw;
    max-width: 300px;
    min-width: 200px;
    border-radius: 5px;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 2.5%;
}
.whiteCard{
    min-height:50vh;
    background:white;
}
.blueCard{
    min-height: 55vh;
    padding: 3.75% 2.5%;
    background-image:var(--grd);
}
.whiteCard .type{
    color:var(--grayishBlue);
}
.blueCard .type{
    color:var(--veryLightGrayishBlue);
}
.whiteCard .price{
    color:var(--darkGrayishBlue);
}
.blueCard .price{
    color:var(--veryLightGrayishBlue);
}
.card .price{
    font-size: 3rem;
    margin: 2rem 0 0 0;
}
.infoCard{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
 
    margin: 2rem 0;
}
.card .infoCard h4{
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-top:2px solid transparent;
}
.card .infoCard h4:last-of-type{
    border-bottom:2px solid transparent;
}
.whiteCard .infoCard h4{

    color:var(--grayishBlue);
    border-top-color:hsl(0, 0%, 89%);
 
  
}
.whiteCard .infoCard h4:last-of-type{
    border-bottom-color:hsl(0, 0%, 89%);
}

.blueCard .infoCard h4{

    color:var(--veryLightGrayishBlue);
    border-top-color:rgba(255, 255, 255, 0.5);
  
}
.blueCard .infoCard h4:last-of-type{
    border-bottom-color:rgba(255, 255, 255, 0.5);
}
.card .btn{
    width: 100%;
    padding: .65rem 0; 
    cursor: pointer;
    transition:all 200ms ease-in-out;
    border:1px solid transparent;
}
.whiteCard .btn{
    color:var(--veryLightGrayishBlue);
    background:var(--grd);
    border-radius: 5px;
}
.blueCard .btn{
    color:#696fdd;
    background:var(--veryLightGrayishBlue);
    border-radius: 5px;
}
.card .btn:hover{
    background:transparent;
}
.blueCard .btn:hover{
    color:var(--veryLightGrayishBlue);
    border:1px solid var(--veryLightGrayishBlue);
}
.whiteCard .btn:hover{
    color:#696fdd;
    border: 1px solid #696fdd;
}

@media screen and (max-width:700px){
    
    .card{
        min-width: 90%;
        padding: 2rem 1rem;
    }
    .blueCard {
        min-height:auto;
        padding: 0;
    }
    .card{
        min-width: 90%;
        padding: 2rem 1rem;
    }
    .whiteCard {
        min-height: auto;
    }
}