
.main{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.figureBg{
    width: 100%;  
    max-width: 800px;
    
    position: relative; 
    max-width: 800px;
    z-index: -100;

}
.figureBg:before{
    content:"";
    position: absolute;
    top: -100%;
    right: 0;
    width: 50%;
   
    height:220%;
    

    z-index: -110;
    border-bottom-left-radius: 100px;
    background-color:var(--lightGrayishBlue);
  
}

.imgPattern{
    width: 120%;
    max-width: 500px;
    min-width: 150px;
    height:auto;
    transform:translateX(0);
    
}
.mainContainer{
    width: 100%;
    padding:0 5%;
    font-family: var(--fontBody);
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    gap:.25rem;
}


.new{
    margin-top:2.5rem;
    text-transform: uppercase;
 
}
.new .span{
    background-color: var(--veryDarkBlue);
    color:var(--lightGrayishBlue);
    padding:.1rem 0.75rem;
    border-radius: 50px;
    font-weight: 800;
    font-size: .9rem;
}
.new .description{ 
    letter-spacing: .15rem;
    margin-left:0.25rem;
    color:var(--grayishBlue);
    font-size: .9rem;
}   
.title{
    font-size: 2.75rem;
    line-height: .8;
    font-family: var(--fontNav);
    text-transform: uppercase;
    word-spacing: .25rem;
    margin-top: 2.5rem; 
}

.info{
    width: 85%;
    font-size:1rem;
    color:var(--grayishBlue);
    font-weight: 800;
    word-spacing: .5rem;
    margin: .75rem 0;
}

.buttonContainer{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:.5rem;
    flex-wrap: wrap;
}
.buttonContainer button{
    background:var(--red);
    border:none;
    outline:none;
    padding:.5rem .85rem ;
    border-radius: 5px;
    font-weight: 800;
    color:var(--lightGrayishBlue);
    font-size:.6rem;
    letter-spacing:.05rem;
    text-align: center;
    text-transform:uppercase;
}
.buttonContainer p{
    font-size: .5rem;
    letter-spacing:0.1rem;
    text-transform: uppercase;
    color: var(--grayishBlue);
    font-weight: 800;
}
@media screen and (min-width:900px){

    .main{
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    
    }

  
    .figureBg{    
        min-width: 450px;  
    }
    .figureBg:before{   
        width: 110%;
        height:150%;
        z-index: -110;     
    }
    
 
    .mainContainer{   
        width: 90%;
        min-height: 70vh;
        padding:0 0;
        padding-left: 5%;
        margin-top:0rem;
    }
    
    
    .new{
        margin-top:4rem;  
    }
    .new .span{
        margin-right:.5rem;
        padding: .35rem .5rem;             
    }
  
  
    .title{
        font-size: 3.5rem;
        margin-top: 1.5rem;       
    }
    
    .info{
        width: 52%;
        margin: 1rem 0;
    }
    
    .buttonContainer{
        width: 95%;
        display:flex;
        justify-content: start;
        margin-top:2.5rem;
        gap: 2vw;
    }
    .buttonContainer button{ 
        padding:.5rem .75rem;
        font-size:.8rem;
        cursor:pointer;
    }
    .buttonContainer p{
        font-size: .6rem;
        letter-spacing:0.15rem;
    }
}