
.header{
    width: 100%;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 40vh;
    position: relative;

}
.header picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.header picture img{
    width: 100%;
    height: 40vh;
    opacity: 0.95;
 
  
}
.formContainer{
    width: 50%;
    height: 100%;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    transform:translateY(-2.5rem);   
    z-index: 10;
}
.headerForm{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.headerForm .title{
    font-size: 2.5rem;
    letter-spacing:.5rem;
    color:var(--veryLightGray);
}

.headerForm figure{
    width: 100%;
    max-width: 50px;
    min-width: 30px;
}
.headerForm figure img{
    width: 100%;
    z-index: 100;
    cursor: pointer;
   
}

.form{
    width: 100%;
    height: 100%;
}
.inputContainer{
    width: 100%;
    min-height: 5vh; 
    display: flex;
    align-items: center;
    padding:1rem 1rem ;
    gap: 1rem;
    border-radius:5px;
    margin-bottom: 2rem;
    transition: all 250ms linear;
}
.inputContainer .btn{
    width: 32.5px;
    height: 30px;
    border-radius: 50px;
    border:1px solid black;
    cursor: pointer;    
}
.inputContainer .labelText{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.inputText{
    width: 100%;
    height: 100%;
    
    transition:color 200ms linear;
}   
.cardDarkBg .inputContainer{
    background:var(--veryDarkGrayishBlue);
}
.cardDarkBg .inputContainer .inputText{
    color:var(--lightGrayishBlue);
}
.cardDarkBg .inputContainer .btn{
    border-color:var(--darkGrayishBlue);
}

.cardlightBg .inputContainer{
    background:var(--veryLightGray);
}
.cardlightBg .inputContainer .inputText{
    color:var(--veryDarkGrayishBlue);
}
.cardlightBg .inputContainer .btn{
    border-color:var(--darkGrayishBlue);
}
@media screen and (max-width: 1000px){
    .header{
        width: 100%;
        display:flex;
        align-items: flex-end;
        justify-content: center;
        min-height: 30vh;
        position: relative;
    
    }
    .header picture img{
        width: 100%;
        height: 30vh;
        opacity: 0.95;
     
      
    }
    .formContainer{
      width: 70%;
    
    }
    
  }
@media screen and (max-width: 700px){
 
  
    .formContainer{
      width: 90%;
    
    }
}